body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}


@media screen and (min-width: 1158px) {
  body {
    font-weight: 400;
  }
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

* {
  list-style: none;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    padding: 120px 0;
  }
}

img {
  display: block;
  max-width: 100%;
}


/*Header*/
.header {
  background: var(--WHITE, #fff);
  border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
  align-items: center;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.logo-header {
  font-family: 'Raleway', sans-serif;
  color: var(--IRIS, #4d5ae5);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  padding: 25.5px 0 25.5px 0;
  margin-right: 76px;
  text-align: left;
}

.logo-header span {
  color: var(--NAVY-BLUE, #2e2f42);
}

.header-menu {
  list-style-type: none;
  gap: 40px;
  padding: 0;
  margin: 0;
  display: none;
}

.header-menu-item {}

.header-list {
  padding: 24px 0;
  display: block;
  color: var(--NAVY-BLUE, #2e2f42);
  text-decoration: none;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list:hover {
  color: var(--OCEAN, #404bbf);
}

.header-list:focus {
  color: var(--OCEAN, #404bbf);
}

.header-list.current {
  position: relative;
  color: var(--OCEAN, #404BBF);
}

.header-list.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--OCEAN, #404BBF);
  left: 0;
  bottom: -1px;
}

.address {
  font-style: normal;
}

.address-list {
  list-style-type: none;
  font-style: normal;
  display: none;
  gap: 40px;
}

.address-list-item.mail {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item.tel {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link {
  text-decoration: none;
  color: var(--SLATE, #434455);
  font-style: normal;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--OCEAN, #404bbf);
}

.menu-button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/*---------------------- mob-menu --------------------*/

.mob-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 72px 24px 40px 16px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
}

.header-close-button {
  margin-left: auto;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0;
  right: 24px;
  top: 24px;
  background-color: #E7E9FC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-close-button:hover,
.header-close-button:focus {
  background-color: #404bbf;
  border: none;
}

.close-header-icon {
  fill: #2E2F42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-close-button:hover .close-header-icon,
.header-close-button:focus .close-header-icon {
  fill: #ffffff;
}

.mob-menu-list {
  list-style: none;
  margin-bottom: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.mob-list {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: #2E2F42;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-list:hover,
.mob-list:focus {
  color: #404BBF
}

.mob-address-list {
  list-style-type: none;
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #434455;
  text-decoration: none;
  margin-bottom: 48px;
}

.address-mob-item.mail {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-mob-item.tel {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link-mob {
  text-decoration: none;
  color: var(--SLATE, #434455);
  font-style: normal;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link-mob:hover,
.address-link-mob:focus {
  color: var(--OCEAN, #404bbf);
}

.mob-soc-list {
  display: flex;
  gap: 40px;
}

.mob-soc-item {
  width: 40px;
  height: 40px;
}

.icon-mob-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--IRIS, #4D5AE5);
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mob-link:hover {
  background-color: #31D0AA;
}

.icon-mob-link:focus {
  background-color: #31D0AA;
}

@media screen and (min-width: 768px) {
  .menu-button {
    /* display: none; */
  }
}

@media screen and (min-width: 1158px) {
  .menu-button {
    /* display: none; */
  }
}

/*-------------Button------------------*/
.button-section {
  background: var(--NAVY-BLUE, #2E2F42);
  background-image: linear-gradient(to bottom,
      rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(../images/dark-bg-mob.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 72px;
  padding-bottom: 72px;
  margin: 0 auto;
  width: 100%;
}

@media (min-device-pixel-ratio:2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .button-section {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/dark-bg-mob2x.jpg);
  }
}

.button-container {
  text-align: center;
}

.button-area-text {
  color: var(--WHITE, #fff);
  font-size: 36px;
  max-width: 165px;
  height: auto;
  text-align: center;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  margin: 0 auto 72px auto;
}

.button {
  color: var(--WHITE, #fff);
  background: var(--IRIS, #4d5ae5);
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .button-section {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/dark-bg-tab.jpg);
  }

  @media (min-device-pixel-ratio:2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .button-section {
      background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/dark-bg-tab2x.jpg);
    }
  }

  .button-area-text {
    font-size: 56px;
    margin: 0 auto 36px auto;
    max-width: 496px;
  }
}

@media screen and (min-width: 1158px) {
  .button-section {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/bg_photo_button.jpg);
  }

  @media (min-device-pixel-ratio:2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .button-section {
      background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/bg_photo_button-2x.jpg);
    }
  }

  .button-area-text {
    margin: 0 auto 48px auto;
  }
}

/*Our Benefits*/
.benefits-section {
  padding: 96px 0;
}

/*visually-hidden*/
.our-benefits {
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 72px 24px;
  justify-content: space-between;
}


.benefits-icon-box {
  display: none;
}

.benefits {
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 8px;
}



.benefits-text {
  color: var(--SLATE, #434455);
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .benefits-list-item {
    width: calc((100% - 74px) / 2);
  }

  .benefits {
    text-align: left;
  }

  .benefits-text {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }

  .benefits-icon-box {
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .benefits {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
  }

  .benefits-text {
    max-width: 264px;
  }

}

/*Our Team*/

.our-team-section {
  background: var(--CLOUD, #f4f4fd);
  padding: 96px 0;
}

.team-container {}


.our-team {
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-photo {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.team-list-item {
  background: var(--WHITE, #fff);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: 264px;
}

.photo-img {
  width: 100%;
  height: auto;
}

.text-under-photo {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-members {
  color: var(--NAVY-BLUE, #2E2F42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
  text-align: center;
}

.team-text {
  color: var(--SLATE, #434455);
  text-align: center;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.icon-team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--IRIS, #4D5AE5);
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team-link:hover {
  background-color: #404bbf;
}

.icon-team-link:focus {
  background-color: #404bbf;
}

.team-icons {
  fill: #f4f4fd;
}


@media screen and (min-width: 768px) {
  .team-photo {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .team-list-item {
    width: calc((100% - 72px) / 2);
  }

  /* уточнити пікселі у формулі */
}

@media screen and (min-width: 1158px) {

  .team-photo {
    gap: 24px;
  }

  .team-list-item {
    width: calc((100% - 72px) / 4);
  }
}


/*Our Portfolio*/

.portfolio-section {
  padding: 96px 0;
}

.portfolio-container {}

.portfolio-title {
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.portfolio-list-item {
  width: 288px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-cover-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: var(--CLOUD, #F4F4FD);
  padding: 40px 32px;
}

.photo-portfolio {
  width: 100%;
  height: 100%;
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0);
}

.portfolio-list-item:focus .overlay {
  transform: translateY(0);
}

.portfolio-list-item:nth-child(-n+3) {}

.portfolio-container-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-main-text {
  color: var(--NAVY-BLUE, #2E2F42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.portfolio-text {
  color: var(--SLATE, #434455);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }

  .portfolio-list-item {
    width: calc((100% - 48px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
}


/*Footer*/

.footer-area {
  background: var(--NAVY-BLUE, #2e2f42);
  width: 100%;
}

.footer-container {
  padding-top: 96px;
  padding-bottom: 96px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: center;
}

.footer-left-block {
  margin-bottom: 72px;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  color: var(--IRIS, #4d5ae5);
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  margin: 0 auto 16px auto;
}

.span-logo {
  color: var(--CLOUD, #f4f4fd);
}

.footer-text {
  max-width: 288px;
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  text-align: left;
}

.footer-text-soc {
  color: var(--WHITE, #FFF);
  margin-bottom: 16px;
  font-weight: 500;
}

.footer-social-media {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
  padding-left: 40px;
  padding-right: 40px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
  flex-shrink: 0;

}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.icon-footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--IRIS, #4D5AE5);
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer-link:hover {
  background-color: #31D0AA;
}

.icon-footer-link:focus {
  background-color: #31D0AA;
}

.footer-icons {
  fill: #f4f4fd;
}

.footer-text-subscribe {
  color: var(--WHITE, #FFF);
  margin-bottom: 16px;
  font-weight: 500;
}

.label-footer {}

.footer-input {
  color: white;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 288px;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  border: 1px solid var(--WHITE, #FFF);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-input::placeholder {
  color: var(--WHITE, #FFF);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.48px;
}

.button.subscribe {
  min-width: 165px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
}

.icon-subscribe {
  margin-left: 16px;
}


.form-subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    gap: 72px 24px;
    padding: 96px 108px;
  }

  .footer-left-block {
    max-width: 264px;
    text-align: left;
  }

  .footer-text {
    width: 264px;
  }

  .footer-social-media {
    padding-left: auto;
    padding-right: auto;
  }

  .footer-input {
    width: 264px;
  }

  .form-subscribe {
    flex-direction: row;
    gap: 24px;
  }

  .div-for-tab {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    align-items: baseline;
    padding: 100px 15px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .footer-left-block {
    margin-right: 120px;
  }

}

/*Modal*/

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: var(--DAIRY, #FCFCFC);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #E7E9FC;
  fill: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 24px;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404BBF;
  border: none;
  fill: #ffffff;
}



.close-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
  background-color: transparent;
  padding: 11px 16px 11px 38px;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4D5AE5;
}

.modal-label {
  color: var(--LIGHT-SLATE, #8E8F99);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  margin-bottom: 4px;
  display: block;
  width: 100%;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-icon {
  position: absolute;
  fill: #2E2F42;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-icon {
  fill: #4D5AE5;
}

.modal-textarea {
  display: block;
  width: 360px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
  background-color: transparent;
  padding: 8px 16px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  font-style: normal;
  font-weight: 400;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4D5AE5
}

.textarea-block {
  margin-bottom: 16px;
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  ;
}

.modal-checkbox {
  margin-bottom: 24px;
}

.form-input.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-input:checked+.checkbox-text>.check-box-default {
  background-color: var(--OCEAN, #404BBF);
  border: none;
  fill: #F4F4FD;
}

.form-input:focus+.checkbox-text>.check-box-default {
  border-color: var(--OCEAN, #404BBF);
}

.check-box-default {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.checkbox-text {
  color: var(--LIGHT-SLATE, #8E8F99);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.icon-check {
  fill: transparent;
}

.checkbox-text-link {
  color: var(--IRIS, #4D5AE5);
}